# ì „ì²˜ë¦¬ì™€ KNN (K-Nearest Neighbors)

ì§€ê¸ˆê¹Œì§€ëŠ” ê¹¨ë—í•œ ë°ì´í„°ë§Œ ì¨ì™”ëŠ”ë°, ì‹¤ì œë¡œëŠ” ë”ëŸ¬ìš´ ë°ì´í„°ê°€ ëŒ€ë¶€ë¶„ì´ë‹¤. ì´ì œ ì§„ì§œ ì „ì²˜ë¦¬ë¥¼ ë°°ì›Œë³´ì.

ì´ ì¥ì—ì„œ ì—¬ëŸ¬ë¶„ì€ ì‹¤ì œ ë°ì´í„°ì˜ ë¬¸ì œì ì„ íŒŒì•…í•˜ê³  í•´ê²°í•˜ëŠ” ì „ì²˜ë¦¬ ê³¼ì •ê³¼ KNN ì•Œê³ ë¦¬ì¦˜ì„ ë°°ìš´ë‹¤. êµ¬ì²´ì ì¸ ë‚´ìš©ì€ ë‹¤ìŒ ì„¸ ê°€ì§€ì´ë‹¤.

1. **ì „ì²˜ë¦¬(Preprocessing)**: ê²°ì¸¡ì¹˜ ì²˜ë¦¬ì™€ ë°ì´í„° ì •ì œ
2. **KNN ëª¨ë¸ í›ˆë ¨ê³¼ ì‚¬ìš©, í‰ê°€**: ê±°ë¦¬ ê¸°ë°˜ ë¶„ë¥˜ ì•Œê³ ë¦¬ì¦˜
3. **ì‹œê°í™”**: PCA ì°¨ì›ì¶•ì†Œë¥¼ í†µí•œ ë¶„ë¥˜ ê²°ê³¼ ì‹œê°í™”

## 1. ì „ì²˜ë¦¬ (Preprocessing)

ì‹¤ì œ ë°ì´í„°ëŠ” ëŒ€ë¶€ë¶„ ë”ëŸ½ë‹¤. ê²°ì¸¡ì¹˜ê°€ ìˆê³ , ì´ìƒì¹˜ê°€ ìˆê³ , í˜•ì‹ì´ ë§ì§€ ì•ŠëŠ”ë‹¤. ì´ëŸ° ë¬¸ì œë¥¼ í•´ê²°í•˜ëŠ” ê³¼ì •ì´ ì „ì²˜ë¦¬ë‹¤. 

ì „ì²˜ë¦¬ ê³¼ì •ì€ ë‹¤ìŒê³¼ ê°™ë‹¤:
1. ë°ì´í„° íƒìƒ‰ìœ¼ë¡œ ë¬¸ì œì  íŒŒì•…í•˜ê¸°
2. ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ì „ëµ ê²°ì •í•˜ê¸°
3. ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ«ìë¡œ ë³€í™˜í•˜ê¸°

### 1.1. ë°ì´í„° íƒìƒ‰ê³¼ ë¬¸ì œì  íŒŒì•…

ì‹¤ì œ ë°ì´í„°ì…‹ì„ ë¡œë“œí•´ì„œ ì–´ë–¤ ë¬¸ì œê°€ ìˆëŠ”ì§€ ì‚´í´ë³´ì. ê²°ì¸¡ì¹˜ê°€ ì–´ëŠ ì—´ì— ì–¼ë§ˆë‚˜ ìˆëŠ”ì§€ íŒŒì•…í•˜ëŠ” ê²ƒì´ ì²« ë²ˆì§¸ ë‹¨ê³„ë‹¤.

In [2]:
import seaborn as sns

# ì‹¤ì œ ë”ëŸ¬ìš´ ë°ì´í„° ë¡œë“œ
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
# ë°ì´í„° ê¸¸ì´ì™€ ìœ íš¨ê°’ ê°œìˆ˜ë¥¼ ì—´ë³„ë¡œ í™•ì¸
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [4]:
# ì—´ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜ í™•ì¸
titanic.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
# ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì—´ ì°¾ê¸° - ë­˜ ë°˜í™˜í•˜ëŠ”ì§€ ì‚´í´ë³´ê¸°
titanic.isna().sum() > 0

survived       False
pclass         False
sex            False
age             True
sibsp          False
parch          False
fare           False
embarked        True
class          False
who            False
adult_male     False
deck            True
embark_town     True
alive          False
alone          False
dtype: bool

In [6]:
# ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì—´ë§Œ ì¶”ì¶œ
titanic.isna().sum()[titanic.isna().sum() > 0]

age            177
embarked         2
deck           688
embark_town      2
dtype: int64

#### Practice1. ë‹¤ë¥¸ ë°ì´í„°ì…‹ë„ íƒìƒ‰í•´ë³´ê¸°

1. `titanic` ë°ì´í„°ì…‹ì˜ ê²°ì¸¡ì¹˜ê°€ ì–´ëŠ ì—´ì— ì–¼ë§ˆë‚˜ ìˆëŠ”ì§€ í™•ì¸í•˜ê¸° (ë³µìŠµ)
2. `penguins` ë°ì´í„°ì…‹ì„ ë¡œë“œí•´ì„œ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì—´ê³¼ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸°

In [8]:
# penguins ë°ì´í„°ì…‹ íƒìƒ‰
penguins = sns.load_dataset('penguins')
print("Penguins ê²°ì¸¡ì¹˜:")
print(penguins.isna().sum()[penguins.isna().sum() > 0])

Penguins ê²°ì¸¡ì¹˜:
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

### 1.2. ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ì „ëµ

ì•ì„œ ë³¸ titanic ë°ì´í„°ì…‹ì—ì„œ ê²°ì¸¡ì¹˜ê°€ ë‚˜ì˜¤ëŠ” ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ì ë‹¹í•œ ì²˜ë¦¬ ì „ëµì„ ê²°ì •í•´ë³´ì. ì—´ì„ ë“œë¡­í•´ë²„ë¦¬ê±°ë‚˜, í‰ê· ê°’ì´ë‚˜ ìµœë¹ˆê°’ìœ¼ë¡œ ì±„ìš°ëŠ” ë°©ë²•ì´ ìˆë‹¤.

In [16]:
# titanic ë°ì´í„°ì…‹ì˜ ê²°ì¸¡ì¹˜ ì •ë³´ ë‹¤ì‹œ ë³´ê¸°
titanic = sns.load_dataset('titanic')
titanic.isna().sum()[titanic.isna().sum() > 0]

age            177
embarked         2
deck           688
embark_town      2
dtype: int64

In [18]:
# age ì—´ë¶€í„° ì²˜ë¦¬. í‰ê· ìœ¼ë¡œ ì²˜ë¦¬í•´ë³´ì.
age_mean = titanic['age'].mean()
titanic['age'] = titanic['age'].fillna(age_mean)

# ë‚¨ì€ ê²°ì¸¡ì¹˜ í™•ì¸
titanic.isna().sum()[titanic.isna().sum() > 0]

embarked         2
deck           688
embark_town      2
dtype: int64

In [19]:
# embarked, embarked_town ì—´ í™•ì¸
titanic.embarked.head(5), titanic.embark_town.head(5)

(0    S
 1    C
 2    S
 3    S
 4    S
 Name: embarked, dtype: object,
 0    Southampton
 1      Cherbourg
 2    Southampton
 3    Southampton
 4    Southampton
 Name: embark_town, dtype: object)

In [20]:
# ë°ì´í„°ë¥¼ ë³´ë‹ˆ ê·¸ëƒ¥ ì²« ê¸€ìë§Œ ë”´ ê²ƒ ê°™ë‹¤. embarked ì—´ì„ ë“œë¡­í•´ë²„ë¦°ë‹¤.
titanic.drop(columns=['embarked'], inplace=True)

# ë‚¨ì€ ê²°ì¸¡ì¹˜ í™•ì¸
titanic.isna().sum()[titanic.isna().sum() > 0]

deck           688
embark_town      2
dtype: int64

In [21]:
# embark_town ì—´ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°. ìµœë¹ˆê°’ìœ¼ë¡œ ì±„ìš°ì.
embark_mode = titanic['embark_town'].mode()[0]
titanic['embark_town'] = titanic['embark_town'].fillna(embark_mode)

# ë‚¨ì€ ê²°ì¸¡ì¹˜ í™•ì¸
titanic.isna().sum()[titanic.isna().sum() > 0]

deck    688
dtype: int64

In [22]:
# deck ì—´ ê²°ì¸¡ì¹˜.. ë„ˆë¬´ ë§ë‹¤. ì“¸ ìˆ˜ ìˆëŠ” ë°ì´í„°ì¼ê¹Œ? deck ì—´ì´ ê²°ì¸¡ì¹˜ë¼ëŠ” ê²ƒì´ ìƒì¡´ê³¼ ê´€ë ¨ì´ ìˆì„ê¹Œ?
# ì˜ ëª¨ë¥´ê² ìœ¼ë‹ˆ ì¼ë‹¨ ë‚ ë ¤ë²„ë¦¬ì.
titanic.drop(columns=['deck'], inplace=True)

# ë‚¨ì€ ê²°ì¸¡ì¹˜ í™•ì¸
titanic.isna().sum()[titanic.isna().sum() > 0]

Series([], dtype: int64)

In [23]:
# titanic ë°ì´í„°ì…‹ì€ ì´ì œ ê¹¨ë—í•´ì¡Œë‹¤. ë³µì‚¬í•´ì„œ ë”°ë¡œ ì €ì¥í•´ë‘ì.
clean_titanic = titanic.copy()
clean_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   class        891 non-null    category
 8   who          891 non-null    object
 9   adult_male   891 non-null    bool
 10  embark_town  891 non-null    object
 11  alive        891 non-null    object
 12  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(4)
memory usage: 72.5+ KB

#### Practice2. `penguins`ì—ì„œë„ ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•˜ê¸°

`penguins` ë°ì´í„°ì…‹ì—ì„œ ê²°ì¸¡ì¹˜ë¥¼ ì ì ˆí•œ ì „ëµìœ¼ë¡œ ì²˜ë¦¬í•´ë³´ì.

In [ ]:
# penguins ê²°ì¸¡ì¹˜ ì²˜ë¦¬
penguins = sns.load_dataset('penguins')
print("Penguins ì›ë³¸ ê²°ì¸¡ì¹˜:")
print(penguins.isna().sum()[penguins.isna().sum() > 0])
print()

# ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ì„ ì œê±° (dropna ì‚¬ìš©)
penguins_clean = penguins.dropna()
print(f"ì²˜ë¦¬ ì „ ë°ì´í„° ê°œìˆ˜: {len(penguins)}")
print(f"ì²˜ë¦¬ í›„ ë°ì´í„° ê°œìˆ˜: {len(penguins_clean)}")
print(f"ì œê±°ëœ í–‰: {len(penguins) - len(penguins_clean)}ê°œ")
print()

### 1.3. ë²”ì£¼í˜• ë°ì´í„° ìˆ«ì ë³€í™˜ (LabelEncoder ë³µìŠµ)

5ì°¨ì‹œì—ì„œ ë°°ìš´ LabelEncoderë¥¼ ì‚¬ìš©í•´ì„œ ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ«ìë¡œ ë³€í™˜í•˜ì. ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì€ ìˆ«ìë§Œ ì´í•´í•  ìˆ˜ ìˆê¸° ë•Œë¬¸ì´ë‹¤.

In [24]:
from sklearn.preprocessing import LabelEncoder

# titanic ë°ì´í„°ì—ì„œ ë¬¸ìì—´ ì»¬ëŸ¼ í™•ì¸
print("Titanic ë°ì´í„° íƒ€ì…:")
print(titanic.dtypes)
print()

# object íƒ€ì…ì´ ë¬¸ìì—´ ì»¬ëŸ¼ë“¤
text_columns = titanic.select_dtypes(include=['object']).columns
print("ë¬¸ìì—´ ì»¬ëŸ¼ë“¤:", list(text_columns))

Titanic ë°ì´í„° íƒ€ì…:
survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
class          category
who              object
adult_male         bool
embark_town      object
alive            object
alone              bool
dtype: object

ë¬¸ìì—´ ì»¬ëŸ¼ë“¤: ['sex', 'who', 'embark_town', 'alive']

In [ ]:
# ì—¬ëŸ¬ ì»¬ëŸ¼ì„ í•œë²ˆì— ì²˜ë¦¬í•˜ëŠ” íš¨ìœ¨ì  ë°©ë²•
text_columns = ['sex', 'who', 'class', 'embark_town', 'alive']

for col in text_columns:
    le = LabelEncoder()
    titanic[col] = le.fit_transform(titanic[col])
    print(f"{col} ë³€í™˜ ì™„ë£Œ: {le.classes_}")

print("\në³€í™˜ í›„ ë°ì´í„° íƒ€ì…:")
print(titanic[text_columns].dtypes)

#### Practice3. `clean_titanic`, `clean_penguins` ìƒì„±í•˜ê¸°

ì „ì²˜ë¦¬ ì™„ë£Œëœ ê¹¨ë—í•œ ë°ì´í„°ì…‹ ì„¸ ê°œë¥¼ ë§Œë“¤ì–´ì„œ ë‚˜ì¤‘ì— KNN ì‹¤ìŠµì— ì‚¬ìš©í•˜ì.

In [ ]:
# 1. clean_titanic ìƒì„± (ì´ë¯¸ ì²˜ë¦¬ ì™„ë£Œ)
clean_titanic = titanic.copy()
print("âœ… clean_titanic ìƒì„± ì™„ë£Œ")
print(f"   í¬ê¸°: {clean_titanic.shape}")
print(f"   ê²°ì¸¡ì¹˜: {clean_titanic.isna().sum().sum()}ê°œ")
print()

# 2. clean_penguins ìƒì„±
clean_penguins = penguins_clean.copy()
# penguinsì˜ ë¬¸ìì—´ ì»¬ëŸ¼ë“¤ë„ ë³€í™˜
penguin_text_cols = ['species', 'island', 'sex']
for col in penguin_text_cols:
    if col in clean_penguins.columns:
        le = LabelEncoder()
        clean_penguins[col] = le.fit_transform(clean_penguins[col])

print("âœ… clean_penguins ìƒì„± ì™„ë£Œ")
print(f"   í¬ê¸°: {clean_penguins.shape}")
print(f"   ê²°ì¸¡ì¹˜: {clean_penguins.isna().sum().sum()}ê°œ")
print()

In [ ]:
# ì „ì²˜ë¦¬ ì™„ë£Œëœ ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°
print("=== clean_titanic ===")
print(clean_titanic.head())
print()

print("=== clean_penguins ===")
print(clean_penguins.head())
print()

## 2. KNN ëª¨ë¸ í›ˆë ¨ê³¼ ì‚¬ìš©, í‰ê°€

ì´ì œ ì „ì²˜ë¦¬ê°€ ì™„ë£Œëœ ê¹¨ë—í•œ ë°ì´í„°ë¡œ KNN(K-Nearest Neighbors) ì•Œê³ ë¦¬ì¦˜ì„ ë°°ì›Œë³´ì. KNNì€ ê°€ì¥ ì§ê´€ì ì¸ ë¶„ë¥˜ ì•Œê³ ë¦¬ì¦˜ ì¤‘ í•˜ë‚˜ë‹¤.

### 2.1. KNN ê¸°ë³¸ ê°œë…ê³¼ ì›ë¦¬

KNNì€ "ê°€ì¥ ê°€ê¹Œìš´ ì´ì›ƒë“¤ì˜ íˆ¬í‘œë¡œ ë¶„ë¥˜í•˜ëŠ” ì§ê´€ì ì¸ ë°©ë²•"ì´ë‹¤. 

**ì›ë¦¬:**
- ìƒˆë¡œìš´ ë°ì´í„°ê°€ ë“¤ì–´ì˜¤ë©´, ê°€ì¥ ê°€ê¹Œìš´ Kê°œì˜ ì´ì›ƒì„ ì°¾ëŠ”ë‹¤
- ê·¸ Kê°œ ì´ì›ƒë“¤ì´ ì–´ë–¤ í´ë˜ìŠ¤ì¸ì§€ í™•ì¸í•œë‹¤
- ë‹¤ìˆ˜ê²°ë¡œ ìƒˆë¡œìš´ ë°ì´í„°ì˜ í´ë˜ìŠ¤ë¥¼ ê²°ì •í•œë‹¤

**Kê°’ì˜ ì˜ë¯¸:**
- K=1: ê°€ì¥ ê°€ê¹Œìš´ 1ê°œë§Œ ë³´ê³  ê²°ì • (ê³¼ì í•© ìœ„í—˜)
- K=3: ê°€ì¥ ê°€ê¹Œìš´ 3ê°œë¥¼ ë³´ê³  ë‹¤ìˆ˜ê²°ë¡œ ê²°ì •
- K=5: ê°€ì¥ ê°€ê¹Œìš´ 5ê°œë¥¼ ë³´ê³  ë‹¤ìˆ˜ê²°ë¡œ ê²°ì •
- Kê°€ í´ìˆ˜ë¡ ì•ˆì •ì ì´ì§€ë§Œ, ë„ˆë¬´ í¬ë©´ ê²½ê³„ê°€ ë­‰ëš±ê·¸ë ¤ì§
- **í™€ìˆ˜ ì¶”ì²œ**: ë™ì ì„ í”¼í•˜ê¸° ìœ„í•´

#### Practice1. Kê°’ ë³€í™”ì— ë”°ë¥¸ ì˜í–¥ ìƒê°í•´ë³´ê¸°

ë§Œì•½ ë‹¹ì‹ ì´ ìƒˆë¡œìš´ ë™ë„¤ë¡œ ì´ì‚¬ë¥¼ ì™”ë‹¤ê³  ìƒê°í•´ë³´ì:
- K=1: ë°”ë¡œ ì˜†ì§‘ 1ëª…ë§Œ ë³´ê³  ì´ ë™ë„¤ ë¶„ìœ„ê¸°ë¥¼ íŒë‹¨
- K=5: ê°€ì¥ ê°€ê¹Œìš´ 5ì§‘ì„ ë³´ê³  íŒë‹¨  
- K=50: ê°€ì¥ ê°€ê¹Œìš´ 50ì§‘ì„ ë³´ê³  íŒë‹¨

ì–´ë–¤ Kê°’ì´ ê°€ì¥ ì •í™•í• ê¹Œ? ì™œ ê·¸ëŸ´ê¹Œ?

### 2.2. KNN ëª¨ë¸ ì„ ì–¸ê³¼ í•™ìŠµ

ì´ì œ ì‹¤ì œë¡œ KNN ëª¨ë¸ì„ ë§Œë“¤ì–´ë³´ì. ì›ë³¸ ê³ ì°¨ì› ë°ì´í„°ë¡œ ëª¨ë¸ì„ í•™ìŠµì‹œí‚¤ëŠ” ê²ƒì´ ì¤‘ìš”í•˜ë‹¤.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

# clean_titanicìœ¼ë¡œ ìƒì¡´ ì˜ˆì¸¡ ëª¨ë¸ ë§Œë“¤ê¸°
# X: ì˜ˆì¸¡ì— ì‚¬ìš©í•  íŠ¹ì„±ë“¤, y: ì˜ˆì¸¡í•  ëª©í‘œê°’
X = clean_titanic[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare']]
y = clean_titanic['survived']

print("X íŠ¹ì„±:", X.columns.tolist())
print("y ëª©í‘œ:", 'survived (ìƒì¡´ ì—¬ë¶€)')
print(f"ë°ì´í„° í¬ê¸°: X{X.shape}, y{y.shape}")

In [ ]:
# í›ˆë ¨ìš©ê³¼ í…ŒìŠ¤íŠ¸ìš©ìœ¼ë¡œ ë°ì´í„° ë¶„í• 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"í›ˆë ¨ìš© ë°ì´í„°: {X_train.shape[0]}ê°œ")
print(f"í…ŒìŠ¤íŠ¸ìš© ë°ì´í„°: {X_test.shape[0]}ê°œ")

In [ ]:
# KNN ëª¨ë¸ ì„ ì–¸ê³¼ í•™ìŠµ
model = KNeighborsClassifier(n_neighbors=5)  # K=5ë¡œ ì„¤ì •
model.fit(X_train, y_train)

# ì˜ˆì¸¡ ìˆ˜í–‰
y_pred = model.predict(X_test)

print("KNN ëª¨ë¸ í•™ìŠµ ì™„ë£Œ!")
print(f"Kê°’: {model.n_neighbors}")
print(f"ì˜ˆì¸¡ ê²°ê³¼ ì˜ˆì‹œ: {y_pred[:10]}")
print(f"ì‹¤ì œ ê²°ê³¼ ì˜ˆì‹œ: {y_test.iloc[:10].values}")

#### Practice2. Kê°’ì„ ë°”ê¿”ê°€ë©° ì„±ëŠ¥ ë¹„êµí•˜ê¸°

K=1, K=3, K=7, K=15ë¡œ ë°”ê¿”ê°€ë©° ì–´ë–¤ Kê°’ì´ ê°€ì¥ ì¢‹ì€ ì„±ëŠ¥ì„ ë³´ì´ëŠ”ì§€ í™•ì¸í•´ë³´ì.

In [ ]:
from sklearn.metrics import accuracy_score

# ì—¬ëŸ¬ Kê°’ìœ¼ë¡œ ì„±ëŠ¥ ë¹„êµ
k_values = [1, 3, 5, 7, 15]
accuracies = []

for k in k_values:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred_k = knn.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred_k)
    accuracies.append(accuracy)
    print(f"K={k}: ì •í™•ë„ {accuracy:.3f}")

# ìµœê³  ì„±ëŠ¥ Kê°’ ì°¾ê¸°
best_k = k_values[accuracies.index(max(accuracies))]
print(f"\nğŸ† ìµœê³  ì„±ëŠ¥: K={best_k}, ì •í™•ë„ {max(accuracies):.3f}")

### 2.3. KNN ëª¨ë¸ í‰ê°€ (ë³µìŠµ)

ML 4ì°¨ì‹œì—ì„œ ë°°ìš´ í‰ê°€ ë°©ë²•ë“¤ì„ ë³µìŠµí•´ë³´ì. ì½”ë“œì™€ ê²°ê³¼ë§Œ ê°„ë‹¨íˆ í™•ì¸í•˜ë©´ ëœë‹¤.

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# ìµœê³  ì„±ëŠ¥ Kê°’ìœ¼ë¡œ ìµœì¢… ëª¨ë¸ ìƒì„±
final_model = KNeighborsClassifier(n_neighbors=best_k)
final_model.fit(X_train, y_train)
final_pred = final_model.predict(X_test)

# 1. accuracy_score
accuracy = accuracy_score(y_test, final_pred)
print(f"ì •í™•ë„: {accuracy:.3f}")
print()

# 2. classification_report
print("ë¶„ë¥˜ ë¦¬í¬íŠ¸:")
print(classification_report(y_test, final_pred))
print()

# 3. confusion_matrix
print("í˜¼ë™ í–‰ë ¬:")
print(confusion_matrix(y_test, final_pred))

#### Practice3. clean_penguins, clean_diamondsë¡œë„ KNN ì‹¤ìŠµí•˜ê¸°

ë‹¤ë¥¸ ë°ì´í„°ì…‹ìœ¼ë¡œë„ KNNì„ ì‹¤ìŠµí•´ë³´ì.
- penguins: ì¢…(species) ë¶„ë¥˜
- diamonds: ë“±ê¸‰(cut) ë¶„ë¥˜

In [ ]:
# 1. clean_penguinsë¡œ ì¢… ë¶„ë¥˜
X_penguin = clean_penguins[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']]
y_penguin = clean_penguins['species']

X_train_p, X_test_p, y_train_p, y_test_p = train_test_split(X_penguin, y_penguin, test_size=0.2, random_state=42)

knn_penguin = KNeighborsClassifier(n_neighbors=5)
knn_penguin.fit(X_train_p, y_train_p)
y_pred_p = knn_penguin.predict(X_test_p)

print("ğŸ§ Penguins ì¢… ë¶„ë¥˜ ê²°ê³¼:")
print(f"ì •í™•ë„: {accuracy_score(y_test_p, y_pred_p):.3f}")
print()

## 3. ì‹œê°í™”

ì œì¼ ì¤‘ìš”í•˜ë‹¤. ê·¸ë˜í”„ë¥¼ ê·¸ë¦´ ì¤„ ì•Œì•„ì•¼ í•œë‹¤. ì´ë²ˆì—ëŠ” KNN ë¶„ë¥˜ ê²°ê³¼ë¥¼ ì‹œê°í™”í•´ë³´ì.

### 3.1. KNN ê²°ê³¼ ì‹œê°í™”

PCA ì°¨ì›ì¶•ì†ŒëŠ” ì‹œê°í™” ëª©ì ìœ¼ë¡œë§Œ ì‚¬ìš©í•œë‹¤. ëª¨ë¸ í•™ìŠµì€ ì›ë³¸ ë°ì´í„°ë¡œ, ì‹œê°í™”ë§Œ 2ì°¨ì›ìœ¼ë¡œ ì¶•ì†Œí•´ì„œ ë³´ì—¬ì¤€ë‹¤.

In [ ]:
import matplotlib.pyplot as plt
import koreanize_matplotlib
from sklearn.decomposition import PCA

# PCAë¡œ 2ì°¨ì› ì¶•ì†Œ (ì‹œê°í™” ëª©ì ìœ¼ë¡œë§Œ)
pca = PCA(n_components=2)
X_test_pca = pca.fit_transform(X_test)

# ë¶„ë¥˜ ê²°ê³¼ ì‹œê°í™”
plt.figure(figsize=(12, 5))

# ì™¼ìª½: ì‹¤ì œê°’
plt.subplot(1, 2, 1)
plt.scatter(X_test_pca[:, 0], X_test_pca[:, 1], c=y_test, cmap='viridis', alpha=0.7)
plt.title('ì‹¤ì œ ìƒì¡´ ì—¬ë¶€')
plt.xlabel(f'PC1 ({pca.explained_variance_ratio_[0]:.1%} ì„¤ëª…)')
plt.ylabel(f'PC2 ({pca.explained_variance_ratio_[1]:.1%} ì„¤ëª…)')
plt.colorbar(label='ìƒì¡´(1) vs ì‚¬ë§(0)')

# ì˜¤ë¥¸ìª½: ì˜ˆì¸¡ê°’
plt.subplot(1, 2, 2)
plt.scatter(X_test_pca[:, 0], X_test_pca[:, 1], c=final_pred, cmap='viridis', alpha=0.7)
plt.title(f'KNN ì˜ˆì¸¡ ê²°ê³¼ (K={best_k})')
plt.xlabel(f'PC1 ({pca.explained_variance_ratio_[0]:.1%} ì„¤ëª…)')
plt.ylabel(f'PC2 ({pca.explained_variance_ratio_[1]:.1%} ì„¤ëª…)')
plt.colorbar(label='ìƒì¡´(1) vs ì‚¬ë§(0)')

plt.tight_layout()
plt.show()

In [ ]:
# Kê°’ì— ë”°ë¥¸ ì •í™•ë„ ë³€í™” ê·¸ë˜í”„
plt.figure(figsize=(10, 6))
plt.plot(k_values, accuracies, 'bo-', linewidth=2, markersize=8)
plt.title('Kê°’ì— ë”°ë¥¸ KNN ì„±ëŠ¥ ë³€í™”')
plt.xlabel('Kê°’')
plt.ylabel('ì •í™•ë„')
plt.grid(True, alpha=0.3)

# ìµœê³  ì„±ëŠ¥ Kê°’ í‘œì‹œ
plt.axvline(best_k, color='red', linestyle='--', alpha=0.7, label=f'ìµœê³  ì„±ëŠ¥ K={best_k}')
plt.legend()

# ê° ì ì— ì •í™•ë„ ê°’ í‘œì‹œ
for k, acc in zip(k_values, accuracies):
    plt.annotate(f'{acc:.3f}', (k, acc), textcoords="offset points", xytext=(0,10), ha='center')

plt.show()

In [ ]:
# í˜¼ë™í–‰ë ¬ íˆíŠ¸ë§µ ì‹œê°í™”
import seaborn as sns

plt.figure(figsize=(8, 6))
cm = confusion_matrix(y_test, final_pred)
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues', 
            xticklabels=['ì‚¬ë§', 'ìƒì¡´'], yticklabels=['ì‚¬ë§', 'ìƒì¡´'])
plt.title(f'í˜¼ë™í–‰ë ¬ (K={best_k})')
plt.xlabel('ì˜ˆì¸¡ê°’')
plt.ylabel('ì‹¤ì œê°’')
plt.show()

print(f"ì •í™•ë„: {accuracy:.3f}")
print(f"ì´ {len(y_test)}ëª… ì¤‘ {(final_pred == y_test).sum()}ëª… ì •í™•íˆ ì˜ˆì¸¡")

#### Practice4. ì„¸ ë°ì´í„°ì…‹ ëª¨ë‘ ì‹œê°í™”í•˜ê¸°

penguinsì™€ diamonds ë°ì´í„°ë„ PCAë¡œ ì°¨ì›ì¶•ì†Œí•´ì„œ ë¶„ë¥˜ ê²°ê³¼ë¥¼ ì‹œê°í™”í•´ë³´ì.

In [ ]:
# ì„¸ ë°ì´í„°ì…‹ ëª¨ë‘ ì‹œê°í™”
fig, axes = plt.subplots(2, 3, figsize=(15, 10))

# 1. Titanic ì‹œê°í™”
pca_titanic = PCA(n_components=2)
X_test_titanic_pca = pca_titanic.fit_transform(X_test)

axes[0, 0].scatter(X_test_titanic_pca[:, 0], X_test_titanic_pca[:, 1], c=y_test, cmap='viridis', alpha=0.7)
axes[0, 0].set_title('Titanic ì‹¤ì œê°’')
axes[1, 0].scatter(X_test_titanic_pca[:, 0], X_test_titanic_pca[:, 1], c=final_pred, cmap='viridis', alpha=0.7)
axes[1, 0].set_title(f'Titanic ì˜ˆì¸¡ê°’ (ì •í™•ë„: {accuracy:.3f})')

# 2. Penguins ì‹œê°í™”
pca_penguin = PCA(n_components=2)
X_test_penguin_pca = pca_penguin.fit_transform(X_test_p)

axes[0, 1].scatter(X_test_penguin_pca[:, 0], X_test_penguin_pca[:, 1], c=y_test_p, cmap='viridis', alpha=0.7)
axes[0, 1].set_title('Penguins ì‹¤ì œê°’')
axes[1, 1].scatter(X_test_penguin_pca[:, 0], X_test_penguin_pca[:, 1], c=y_pred_p, cmap='viridis', alpha=0.7)
axes[1, 1].set_title(f'Penguins ì˜ˆì¸¡ê°’ (ì •í™•ë„: {accuracy_score(y_test_p, y_pred_p):.3f})')

# 3. Diamonds ì‹œê°í™”
pca_diamond = PCA(n_components=2)
X_test_diamond_pca = pca_diamond.fit_transform(X_test_d)

axes[0, 2].scatter(X_test_diamond_pca[:, 0], X_test_diamond_pca[:, 1], c=y_test_d, cmap='viridis', alpha=0.7)
axes[0, 2].set_title('Diamonds ì‹¤ì œê°’')
axes[1, 2].scatter(X_test_diamond_pca[:, 0], X_test_diamond_pca[:, 1], c=y_pred_d, cmap='viridis', alpha=0.7)
axes[1, 2].set_title(f'Diamonds ì˜ˆì¸¡ê°’ (ì •í™•ë„: {accuracy_score(y_test_d, y_pred_d):.3f})')

plt.tight_layout()
plt.show()

print("ğŸ‰ ML 6. ì „ì²˜ë¦¬ì™€ KNN ì™„ë£Œ!")
print("ë°°ìš´ ë‚´ìš©:")
print("1. ì‹¤ì œ ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ íƒìƒ‰ê³¼ ì²˜ë¦¬")
print("2. LabelEncoderë¡œ ë¬¸ìì—´ì„ ìˆ«ìë¡œ ë³€í™˜")
print("3. KNN ì•Œê³ ë¦¬ì¦˜ìœ¼ë¡œ ë¶„ë¥˜ ìˆ˜í–‰")
print("4. PCA ì°¨ì›ì¶•ì†Œë¥¼ í†µí•œ ì‹œê°í™”")